@import "../variables.css";

.mfx-button:armed,
.mfx-button:hover,
.mfx-button:focused,
.mfx-button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
    -fx-pref-height: -field-height;
    -fx-padding: 0 20px 0 20px;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-opacity: 0.5;
    -mfx-ripple-color: white;
}

.mfx-button,
.mfx-button:armed,
.mfx-button:focused {
    -fx-font-family: Roboto-Bold;
    -fx-background-color: -accent;
    -fx-text-fill: -button-text-color;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

.mfx-button .icon {
    -fx-background-color: -button-text-color;
}

.mfx-button:hover {
    -fx-cursor: hand;
    -fx-background-color: -button-hovered-color;
}

.mfx-button.button-danger,
.mfx-button.button-danger:armed,
.mfx-button.button-danger:focused {
    -fx-background-color: -danger;
}

.mfx-button.button-danger:hover {
    -fx-background-color: -danger-hover;
}

.outline-button,
.outline-button:hover,
.outline-button:focused {
    -fx-font-family: "Roboto Medium";
    -fx-background-color: transparent;
    -fx-text-fill: -accent !important;
    -fx-border-color: -accent !important;
}

.outline-button:hover,
.outline-button:focused {
    -fx-background-color: -accent-glass;
}

.outline-button .icon {
    -fx-background-color: -accent !important;
}

.outline-button .mfx-ripple-generator {
    -mfx-ripple-color: -accent !important;
}

.outline-button.button-danger,
.outline-button.button-danger:hover,
.outline-button.button-danger:focused {
    -fx-background-color: transparent;
    -fx-text-fill: -danger !important;
    -fx-border-color: -danger !important;
}

.outline-button.button-danger:hover,
.outline-button.button-danger:focused {
    -fx-background-color: -danger-glass;
}

.outline-button.button-danger .mfx-ripple-generator {
    -mfx-ripple-color: -danger !important;
}

.link-button,
.link-button:armed,
.link-button:focused {
    -fx-font-family: "Roboto Medium";
    -fx-background-color: transparent !important;
    -fx-text-fill: -accent;
    -fx-padding: 5 !important;
    -fx-pref-height: 30 !important;
    -fx-border-width: 0;
}

.link-button:armed,
.link-button:focused {
    -fx-underline: true;
    -fx-text-fill: -accent;
}

.link-button .mfx-ripple-generator {
    -mfx-ripple-color: -accent !important;
}

.tab-button, .tab-button:armed, .tab-button:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 5 5 0 0!important;
    -fx-background-radius: 5 5 0 0!important;
    -fx-text-fill: -text-color;
    -fx-font-family: "Roboto Medium" !important;
    -fx-underline: false;
}

.tab-button:hover {
    -fx-background-color: -accent-glass;
}

.tab-button .mfx-ripple-generator {
    -mfx-ripple-color: -accent;
}

.tab-button-active {
    -fx-text-fill: -accent !important;
    -fx-border-width: 0 0 1.5 0 !important;
    -fx-border-color: -accent !important;
}

.tab-button .icon {
    -fx-background-color: -text-color !important;
}

.tab-button-active .icon {
    -fx-background-color: -accent !important;
}

.tag-button,
.tag-button:armed,
.tag-button:focused,
.tag-button:hover {
    -fx-font-family: "Roboto Medium" !important;
    -fx-text-fill: -text-color;
    -fx-background-color: -tag-button-background-color;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-pref-height: 30px;
}

.tag-button:hover {
    -fx-background-color: -tag-button-hover-background-color;
}

.tag-button-active,
.tag-button-active:armed,
.tag-button-active:focused {
    -fx-background-color: -accent;
    -fx-text-fill: -button-text-color;
}

.tag-button-active:hover {
    -fx-background-color: -button-hovered-color;
    -fx-text-fill: -button-text-color;
}

.icon-button,
.icon-button:armed,
.icon-button:focused,
.icon-button:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-padding: 0;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
}

.icon-button .mfx-ripple-generator {
    -mfx-ripple-color: -accent !important;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.icon-button .icon {
    -fx-background-color: -text-color-fade;
}

.icon-button:hover .icon {
    -fx-background-color: -accent;
}

.icon-button-danger:hover .icon{
    -fx-background-color: -danger;
}

.icon-button-danger .mfx-ripple-generator {
    -mfx-ripple-color: -danger !important;
}

.icon-button-active .icon {
    -fx-background-color: -accent !important;
}

.mfx-ripple-generator {
     -mfx-auto-clip: true;
 }