@import "../variables.css";

.mfx-button:armed,
.mfx-button:hover,
.mfx-button:focused,
.mfx-button {
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-pref-height: -field-height;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-opacity: 0.5;
    -mfx-ripple-color: white;
}

.mfx-button,
.mfx-button:armed,
.mfx-button:focused {
    -fx-font-family: Roboto-Bold;
    -fx-background-color: -accent;
    -fx-text-fill: -button-text-color;
    -fx-cursor: hand;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

/*.mfx-button:armed,
.mfx-button:focused {
    -fx-border-color: #badbff;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}*/

.mfx-button * {
    -fx-background-color: -button-text-color;
}

.mfx-button:hover {
    -fx-background-color: -button-hovered-color;
}

.outline-button {
    -fx-background-color: transparent;
    -fx-border-color: -accent;
    -fx-border-radius: 3;
    -fx-text-fill: -accent;
    -fx-pref-height: -field-height;
}

.outline-button:hover,
.outline-button:focused {
    -fx-background-color: -accent;
    -fx-text-fill: white;
}

.link-button {
    -fx-background-color: transparent!important;
    -fx-border-radius: 3;
    -fx-text-fill: -accent;
    -fx-underline: true;
    -fx-cursor: hand;
}

.link-button:armed,
.link-button:focused {
    -fx-border-color: -accent;
    -fx-text-fill: -accent;
}

.link-button .mfx-ripple-generator {
    -mfx-ripple-color: #D9E9FF;
}

.tab-button, .tab-button:armed, .tab-button:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-text-fill: -text-color;
    -fx-font-family: "Roboto Medium"!important;
    -fx-underline: false;
    -fx-cursor: hand;
}

.tab-button:hover {
    -fx-background-color: rgb(116, 170, 255, 0.1);
}

.tab-button .mfx-ripple-generator {
    -mfx-ripple-color: -accent;
}

.tab-button-active {
    -fx-text-fill: -accent!important;
    -fx-border-width: 0 0 1.5 0!important;
    -fx-border-color: -accent!important;
}

/* TODO: this is ugly, find another way to change color of button's icon when active*/
.tab-button * {
    -fx-background-color: -text-color!important;
}

.tab-button-active * {
    -fx-background-color: -accent!important;
}