@import "../variables.css";

.mfx-combo-box {
    -mfx-track-color: rgb(230, 230, 230);
    -mfx-thumb-color: rgb(137, 137, 137);
    -mfx-thumb-hover-color: rgb(89, 88, 91);

    -mfx-gap: 0;
    -fx-padding: 3 5 3 5;
}

.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(98, 0, 238, 0.1);
    -mfx-ripple-radius: 14;
}

.mfx-combo-box:focus-within .caret .mfx-font-icon {
    -mfx-color: -mfx-main;
}

.mfx-combo-box .combo-popup .virtual-flow {
    -fx-background-radius: 5;
    -fx-border-color: #ebebeb;
    -fx-border-radius: 5;
}

.mfx-combo-box:disabled .caret .mfx-font-icon {
    -mfx-color: #bcbcbc;
}