@import "../variables.css";

.mfx-text-field {
    -mfx-main: -accent;
    -fx-background-color: -text-field-background-color;
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #c1c0bf;
    -fx-padding: 5 10 5 10;
    -fx-cursor: text;
    -fx-pref-height: -field-height;
}

.mfx-text-field:readonly,
.mfx-text-field:readonly .text-field {
    -fx-cursor: default;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: gray;
    -fx-prompt-text-fill: -text-field-prompt-color;
}

.mfx-text-field .text-field .text {
    -fx-font-smoothing-type: lcd;
}

.mfx-text-field:focus-within {
    -fx-border-color: -accent;
    -fx-border-width: 0 0 1.5 0;
    -fx-border-insets: -0.5;
}

.mfx-text-field .floating-text {
    -fx-text-fill: -text-field-label-color;
}

.mfx-text-field:floating .floating-text {
    -fx-background-color: -text-field-background-color;
}

.mfx-text-field:focus-within .floating-text {
    -fx-text-fill: -accent;
}

.mfx-text-field .measure-unit {
    -fx-text-fill: -text-field-label-color;
}

.mfx-text-field .text-field {
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
    -fx-backrgound-insets: 0;
    -fx-padding: 0;
}

.mfx-text-field .text-field:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.mfx-text-field:disabled {
    -fx-border-color: rgba(0, 0, 0, 0.1);
}

.mfx-text-field:disabled .floating-text {
    -fx-text-fill: -text-field-disabled-text-color;
}

.mfx-text-field:disabled .text-field {
    -fx-text-inner-color: -text-field-disabled-text-color;
}

.mfx-password-field:disabled .eye-icon {
    -mfx-color: #bcbcbc;
}

.mfx-password-field {
    -mfx-hide-character: '•';
    -mfx-allow-copy: true;
    -mfx-allow-paste: true;
    -mfx-allow-cut: true;
}

.mfx-password-field .mfx-icon-wrapper {
    -fx-cursor: hand;
}

.mfx-password-field .mfx-icon-wrapper .mfx-font-icon {
    -fx-opacity: 0.75;
}