@import "./variables.css";
@import "./mfx/textfield.css";
@import "./mfx/button.css";

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Lt;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

.root {
    /* Setup */
    -fx-font-family: Roboto, "Segoe UI";
    -fx-font-size: 14px;
}

* {
    -fx-text-fill: -text-color;
    -fx-font-smoothing-type: gray;
}

/* Use this class to an element if you want it to have a background */
.background {
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.h1 {
    -fx-font-size: 2.5em;
    -fx-margin: 0 0 5 0;
}

.h2 {
    -fx-font-size: 2.2em;
    -fx-margin: 0 0 5 0;
}

.h3 {
    -fx-font-size: 1.9em;
    -fx-margin: 0 0 5 0;
}

.h4 {
    -fx-font-size: 1.6em;
    -fx-margin: 0 0 5 0;
}

.h5 {
    -fx-font-size: 1.3em;
    -fx-margin: 0 0 5 0;
}