@import "./variables.css";
@import "./mfx/textfield.css";
@import "./mfx/button.css";
@import "./mfx/scrollpane.css";
@import "./mfx/combobox.css";
@import "./mfx/toggle.css";

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Lt;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

.root {
    /* Setup */
    -fx-font-family: Roboto, "Segoe UI";
    -fx-font-size: 14px;
}

* {
    -fx-text-fill: -text-color;
    -fx-font-smoothing-type: gray;
}

/* Use this class to an element if you want it to have a background */
.background {
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.h1 {
    -fx-font-size: 2.5em;
    -fx-margin: 0 0 5 0;
}

.h2 {
    -fx-font-size: 2.2em;
    -fx-margin: 0 0 5 0;
}

.h3 {
    -fx-font-size: 1.9em;
    -fx-margin: 0 0 5 0;
}

.h4 {
    -fx-font-size: 1.6em;
    -fx-margin: 0 0 5 0;
}

.h5 {
    -fx-font-size: 1.3em;
    -fx-margin: 0 0 5 0;
}

.background-danger {
    -fx-background-color: -danger !important;
}

.text-danger {
    -fx-text-fill: -danger !important;
}

.text-warning {
    -fx-text-fill: -warning !important;
}

.text-info {
    -fx-text-fill: -info !important;
}

.text-accent {
    -fx-text-fill: -accent !important;
}

.text-bold {
    -fx-font-family: "Roboto Bold" !important;
}

.text-medium {
    -fx-font-family: "Roboto Medium" !important;
}

.card {
    -fx-background-color: -card-background-color;
    -fx-background-radius: 3px;
    -fx-border-color: -card-border-color;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 4, 0, 0, 2);
    -fx-padding: 10px;
}

.product-container {

}

.product-container .product-text-container {
    -fx-padding: 0 0 0 10;
}

.product-container .product-text-container .product-name-label {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 1.2em;
    -fx-padding: 0 0 2.5px 0;
}

.product-container .product-text-container .product-category-label {
    -fx-text-fill: -text-color-fade;
    -fx-padding: 0 0 10px 0;
}

.product-container .product-text-container .product-description-label {
    -fx-text-fill: -text-color-fade;
    -fx-padding: 0 0 10px 0;
}

.product-container .product-text-container .product-price-label {
    -fx-text-fill: -text-color-fade;
    -fx-padding: 0 0 5px 0;
}

.product-container .product-image {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.user-container {

}

.user-container .user-email-label {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 1.2em;
    -fx-padding: 0 0 2.5px 0;
}

.user-container .user-role-label {
    -fx-text-fill: -text-color-fade;
    -fx-padding: 0 0 10px 0;
}

.user-container .user-joined-date-label {
    -fx-text-fill: -text-color-fade;
}

.user-container .user-last-activity-date-label {
    -fx-text-fill: -text-color-fade;
    -fx-padding: 0 0 5px 0;
}

.context-menu {
    -fx-background-color: -card-background-color;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 14px;
}

.context-menu-item-button,
.context-menu-item-button:armed,
.context-menu-item-button:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: -text-color-fade;
    -fx-font-family: "Roboto Medium" !important;
    -fx-underline: false;
}

.context-menu-item-button .icon {
    -fx-background-color: -text-color-fade;
}

.context-menu-item-button:hover {
    -fx-cursor: hand;
    -fx-background-color: -accent-glass;
    -fx-text-fill: -text-color;
}

.context-menu-item-button:hover .icon {
    -fx-background-color: -text-color;
}

.context-menu-item-button .mfx-ripple-generator {
    -mfx-ripple-color: -accent;
}

.modal {
    -fx-background-color: -card-background-color;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.modal-header-text {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 1.2em;
    -fx-text-fill: -text-color;
}

.button:armed {
    -fx-cursor: pointer !important;
}