* {
    /* colors */
    -accent: #3e7bed;
    -text-color: #4d4d51;
    -text-color-fade: #6e6e71;
    -text-color-fader: #818184;
    -button-text-color: #f3f4f6;
    -tag-button-background-color: #ebedf1;
    -tag-button-hover-background-color: #e1e3e8;
    -text-field-background-color: #fafafc;
    -text-field-disabled-text-color: rgba(125, 120, 120, 0.5);
    -text-field-prompt-color: rgba(125, 120, 120, 0.5);
    -text-field-label-color: rgba(125, 120, 120, 0.75);
    -card-background-color: white;
    -card-border-color: white;

    -info: #4894ff;
    -success: #14c84e;
    -warning: #ffa740;
    -danger: #ff6060;

    /* sizes */
    -field-height: 50px;
}